h2{
    text-align: center;
}
h2 span{
    color:red;
}
input{
    padding:10px 5px;
    margin-bottom:10px;
}
button{
    padding:10px 5px;
    width:100%;
}
.container{
    padding:10px;
    padding-top:0px;
}